@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
  font-size: 62.5%;  /*default root font-size = 16px*/
  //it defines that 1 rem equals 10px

  @include respond(tab-land) {
    font-size: 56.25%;  // 1rem = 9px ---> 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%;  // 1rem = 8px ---> 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%;  // 1rem = 12px ---> 12/16 = 75%
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}