.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 10rem !important;

  //@media (max-width: 850px) {
  //  margin-bottom: 8rem !important;
  //}
}
.u-margin-bottom-medium {
  margin-bottom: 7rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;

  //@media (max-width: 850px) {
  //  margin-bottom: 1.5rem !important;
  //}
}