//COLORS
$color-gradient-start: rgb(255, 125, 125);
$color-gradient-end: rgba(227, 199, 252, 1);
$color-white: #fff;
$color-grey: #555;
$color-grey-light-1: rgba(253, 248, 255, 0.78);
$color-black: #000;
$color-primary:  rgba(124, 14, 139, 0.66);
$color-secondary: rgba(56, 180, 196, 0.98);


//FONTS
$default-font-size: 1.6rem;