//COLORS
$color-gradient-start: rgba(255, 125, 125, 0.66);
$color-gradient-end: rgba(169, 120, 206, 0.3);
$color-white: #fff;

$color-grey-dark-1: #555;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: rgba(253, 248, 255, 0.78);
$color-grey-light-2: #eee;

$color-black: #000;
$color-primary: rgba(113, 13, 125, 0.82);
$color-secondary: rgba(56, 180, 196, 0.98);


//FONTS
$default-font-size: 1.6rem;