.section-about {
  background-color: $color-grey-light-1;
  min-height: 75vh;
  margin-top: -10vh;
  padding: 18rem 0;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18rem 0 0;
  }
  //@media (max-width: 850px) {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  padding: 18rem 0 0;
  //  min-height: 60vh;
  //}
}

.container-about {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  width: 100%;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 10rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  width: 100%;

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.text-container {
  width: 40%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

// FEATURES
.section-features {
  padding: 15rem;
  background-image: linear-gradient(
                  to right top,
                  rgba(108, 76, 217, 0.3),
                  rgba($color-secondary, 0.1)),
  url("../../img/background-section-features.jpg");
  background-position: center;
  background-size: cover;
  min-height: 95vh;
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 95%);
  margin-top: -6rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include respond(tab-port) {
    padding: 15rem;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
  }

  @include respond(phone) {
    padding: 10rem;
    flex-direction: column;
    align-items: center;
  }

  @include respond(big-desktop) {
    padding: 22rem;
  }
}

// TOURS
.section-tours {
  background-color: $color-grey-light-1;
  min-height: 100vh;
  margin-top: -5vh;
  padding: 13rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1080px) {

  }
}

// STORIES
.section-stories {
  background-image: linear-gradient(
                  to right top,
                  rgba(108, 76, 217, 0.3),
                  rgba($color-secondary, 0.1)),
  url("../../img/background-section-features.jpg");
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  padding: 10rem 15rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -10rem;
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 95%);

  @include respond(tab-port) {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
    margin-top: -7rem;
  }
  @media(max-width: 520px) {
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 99%);
    padding: 6rem;
  }
}

// BOOKING
.section-book {
  padding: 15rem;
  margin-top: -5rem;
  min-height: 60vh;
  background-color: $color-grey-light-1;

  @include respond(tab-land) {
    padding: 10rem 3rem 0;
  }
}

.book {
  min-height: 60rem;
  width: 100%;
  margin-bottom: 10rem;
  background-image: linear-gradient(
                  105deg,
                  rgba($color-white, 0.8) 55%,
                  rgba($color-secondary, 0) 75%),
  url("../../img/WallpaperDog-5560400.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

  @include respond(phone) {
    background-image: linear-gradient(
                    rgba($color-white, 0.8),
                    rgba($color-white, 0.8)),
                    url("../../img/WallpaperDog-5560400.jpg");
  }

  &__form {
    width: 60%;
    padding: 6rem;

    @include respond(phone) {
      width: 100%;
    }
  }
}
