.composition {
  position: relative;
  height: 50%;
  width: 50%;

  @media (max-width: 900px) {
    width: 85%;
    margin-top: 7rem;
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 5px;
    position: absolute;
    transition: all .4s;

    @media (max-width: 900px) {
      position: relative;
      width: 33.33333%;
    }

    &--p1 {
      top: -2rem;

      @media (max-width: 900px) {
        top: 0;
        //left: 3rem;
        transform: scale(1.1);
      }
    }
    &--p2 {
      right: -1rem;
      top: 2rem;

      @media (max-width: 900px) {
        top: 0;
        transform: scale(1.3);
        z-index: 100;
      }
    }
    &--p3 {
      left: 20%;
      top: 10rem;

      @media (max-width: 900px) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      z-index: 1;
      transform: scale(1.08) translateY(-.5rem);
      box-shadow: 0 2.5rem 6rem rgba($color-black, .4);
    }

  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
//.composition img {
//  position: absolute;
//}
//.composition__photo-p3 {
//  left: 100px
//}


//.composition-photo--p1 {
//  height: 230px;
//}
//
//.composition-photo--p2 {
//  height: 230px;
//}
//
//.composition-photo--p3 {
//  height: 230px;
//}