.btn {
  &:link,
  &:visited {
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 3px 5px;
    transition: all 0.3s;
  }

  &:hover {
    background-color: transparent;
    border-bottom: 1px solid #38B4C4F9;
    border-radius: 2px;
    display: inline-block;
    color: #38B4C4F9;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(0);
  }
}